<% const isChildPage = page.type === 'child' %>
<% const setting = isChildPage ? Object.assign({}, theme, page) : theme %>
<% console.log(page.path) %>
<body class="io-grey-mode">
    <div  id="loading">
        <div class="loader"><%= setting.tittle || config.title %> - <%= setting.subtitle || config.subtitle %></div>
    </div>
    <div class="page-container">
	    <!--左侧栏-->
        <div id="sidebar" class="sticky sidebar-nav fade mini-sidebar" style="width: 60px;" data="1">
            <div class="modal-dialog h-100 sidebar-nav-inner">
                <!--头部Logo-->
                <div class="sidebar-logo border-bottom border-color">
                    <div class="logo overflow-hidden">
                        <a href="<%= url_for('/') %>" class="logo-expanded">
                            <img src="<%= setting.cdn %><%= setting.logo.light %>" height="40" class="logo-light">
                            <img src="<%= setting.cdn %><%= setting.logo.dark %>" height="40" class="logo-dark d-none">
                        </a>
                        <a href="<%= url_for('/') %>" class="logo-collapsed">
                            <img src="<%= setting.cdn %><%= setting.logo.iconlight %>" height="40" class="logo-light">
                            <img src="<%= setting.cdn %><%= setting.logo.icondark %>" height="40" class="logo-dark d-none">
                        </a>
                    </div>
                </div>
                <!--中部分类-->
                <div class="sidebar-menu flex-fill">
                    <div class="sidebar-scroll">
                        <div class="sidebar-menu-inner">
                            <ul>
                                
                                <% for( let e of setting.menu ) { %>    
                                <li class="sidebar-item">
                                    <% if (e.submenu) { %>
                                        <a href="#<%= e.config %>" class="smooth">
                                            <i class="<%= e.icon %> fa-lg icon-fw icon-lg mr-2"></i>
                                             <span><%= e.name %></span>
                                             <i class="fa fa-chevron-right sidebar-more text-sm"></i>
                                        <% } else { %>
                                        <a href="#<%= e.config %>" class="smooth">
                                              <i class="<%= e.icon %> fa-lg icon-fw icon-lg mr-2"></i>
                                                <span><%= e.name %></span>
                                    <% } %>
                                    </a>
                                    <% if (e.submenu) { %>
                                        <ul style="display: none;">
                                          <% e.submenu.forEach(function(e) { %>
                                          <li>
                                            <a href="#<%= e.config %>" class="smooth">
                                                <i class="<%= e.icon %> fa-lg icon-fw icon-lg mr-2"></i>
                                              <span><%= e.name %></span>
                                            </a>
                                          </li>
                                          <% }) %>
                                        </ul>
                                        <% } %>
                                </li>
                                <% } %>
                            </ul>          

                        </div>
                    </div>
                </div>
                <!--底部-->
                
                <div class="border-top py-2 border-color">
                    <div class="flex-bottom">
                        <ul> 
                            <% for( let e of setting.footmenu ) { %>    
                            <li class="menu-item menu-item-type-post_type menu-item-object-page sidebar-item">
                                <a href="<%= e.url %>" target="_blank"><i class="<%= e.icon %> fa-lg icon-fw icon-lg mr-2"></i>
                                    <span><%= e.name %></span></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <!--主体内容-->
        <div class="main-content flex-fill not">
            <div class="big-header-banner">
                <div id="header" class="page-header sticky">
                    <div class="navbar navbar-expand-md">
                        <div class="container-fluid p-0">
                            <!--手机端顶部图标-->
                            <a href="" class="navbar-brand d-md-none">
                                <img src="<%= setting.cdn %><%= setting.logo.iconlight %>" class="logo-light">
                                <img src="<%= setting.cdn %><%= setting.logo.icondark %>" class="logo-dark d-none">
                            </a>
                            
                            <div class="collapse navbar-collapse order-2 order-md-1">
                                <!--分类收缩图标-->
                                <div class="header-mini-btn">
                                    <label>
                                        <input id="mini-button" type="checkbox">
                                        <svg viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                            <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55"></path>
                                            <path class="line--2" d="M0 50h80"></path>
                                            <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45"></path>
                                        </svg>
                                    </label>
                                </div>
                                <!--顶部链接-->
                                <ul class="navbar-nav site-menu" style="margin-right: 16px;">
                                    <% for( let e of setting.headmenu ) { %>    
                                    <li ><a href="<%= e.url %>"><i class="<%= e.icon %> icon-fw mr-2"></i><span> <%= e.name %></span></a></li>
                                    <% } %>
                                </ul>
                                <!--nav end-->
                                <% if (setting.qweather) { %>
                                    <%- setting.qweather %>
                                    <% } %>
                            </div><!--left end-->
                            <!--right--> 
                            <ul class="nav navbar-menu text-xs order-1 order-md-2">
 
                                                                <!--搜索图标-->
                                <li class="nav-search ml-3 ml-md-4">
                                    <a href="javascript:" data-toggle="modal" data-target="#search-modal" class="search-modal">
                                        <i class="fa fa-search fa-2x"></i>
                                    </a>
                                </li>
                                <!--菜单图标-->
                                <li class="nav-item d-md-none mobile-menu ml-3 ml-md-4">
                                    <a href="javascript:" id="sidebar-switch" data-toggle="modal" data-target="#sidebar">
                                        <i class="fa fa-align-justify fa-2x"></i>
                                    </a>
                                </li>
                                
                            </ul><!--right end--> 
                        </div>
                    </div>
                </div>
                <div class="placeholder" style="height:74px"></div>
            </div>
            <%- partial('common/search', {setting:setting}) %>        
            <div id="content" class="content-site customize-site">
                <div class="flex-fill screen" style="display: none">
                    <h4 class="text-gray text-lg mb-4">
                        <i class="fa fa-search icon-fw mr-2" id="search_bookmark" data="1"></i>站内搜索  
                    </h4>
                    <div class="flex-fill"></div>
                </div>
                <div class="row screen" id="screen_result" style="display: none"></div>
                  <% if (theme.lytoday.enable) { %>
                 <div class="flex-fill" style="padding-bottom: 10px;">
                    <h4 class="text-gray text-lg mb-4">
                        <i class="fa fa-fire icon-fw mr-2"></i>今日热榜
                    <div class="flex-fill"><div id="lytoday"></div></div>
                </div>
                <% } %>


                <% if(is_home() || isChildPage){ %>
                    <% const menuSetting = isChildPage ? page : theme; %>
                      <% menuSetting.menu.forEach(function(e) { %>
                      <% if (e.submenu) { %>
                        <div class="d-flex flex-fill" id="<%= e.config %>">
                            <h4 class="text-gray text-lg mb-4">
                                <i class="<%= e.icon %> icon-fw mr-2"></i>
                                <%= e.name %>
                            </h4>
                            <div class="flex-fill"></div>
                          </div>
                          <div class="d-flex flex-fill flex-tab align-items-center">
                            <div class='overflow-x-auto slider_menu mini_tab' slidertab="sliderTab" >
                                <ul class="nav nav-pills menu" role="tablist">
                                  <% e.submenu.forEach(function(z, index) { %>
                                    <% if (index === 0) { %>
                                    <li class="pagenumber nav-item">
                                        <a id="<%= z.config %>" class="nav-link active" data-toggle="pill" href="#tab-<%= z.name.replace(/[\s]+/g, '-') %>" data-link=""><%= z.name %></a>
                                    </li>
                                    <% } else { %>
                                        <li class="pagenumber nav-item">
                                            <a id="<%= z.config %>" class="nav-link" data-toggle="pill" href="#tab-<%= z.name.replace(/[\s]+/g, '-') %>" data-link=""><%= z.name %></a>
                                        </li>
                                        <% } %>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="flex-fill"></div>
                          </div>
                          <div class="tab-content mt-4">
                            <% } else { %>
                                <div class="d-flex flex-fill" id="<%= e.config %>">
                                    <h4 class="text-gray text-lg mb-4">
                                        <i class="<%= e.icon %> icon-fw mr-2"></i>
                                        <%= e.name %>
                                    </h4>
                                    <div class="flex-fill"></div>
                                  </div>
                                  <% } %>

                      <% if (e.submenu) { %>
                      <% e.submenu.forEach(function(e, index) { %>
                        <% const childPath = page.path.replace('index.html', '') + e.config; %>
                        <% const key = isChildPage?childPath:e.config; %>
                        <% var menus = site.data && site.data[key] ? site.data[key] : menuSetting[e.config]; %>
                        <% if (index === 0) { %>
                        <%- partial('common/tab1.ejs', {e: e, menus: menus || []}); %>
                      <% } else { %>
                        <%- partial('common/tab2.ejs', {e: e, menus: menus || []}); %>
                        <% } %>
                      <% }) %>

                      <% } else { %>
                      <% const childPath = page.path.replace('index.html', '') + e.config; %>
                      <% const key = isChildPage?childPath:e.config; %>
                      <% var menus = site.data && site.data[key] ? site.data[key] : menuSetting[e.config]; %>
                      <%# console.log(page.path,childPath,key); %>
                      <%- partial('common/tab.ejs', {e: e, menus: menus || []}); %>
                      <% } %>

                      <% if (e.submenu) { %>
                        </div>
                        <br />
                      <% } %>

                      <% }) %>
                      <% } %>

                <h4 class="text-gray text-lg mb-4"><i class="fa fa-link icon-lg mr-2" id="friendlink"></i>友情链接</h4>
                <div class="friendlink text-xs card">
                    <div class="card-body">
                        <% for (var link in site.data.blogroll) { %>
                            <a href="<%= site.data.blogroll[link] %>" target="_blank"> <%= link %> </a>
                          <% } %>
                    </div>
                </div>
            </div>
            <%- partial('common/footer', {setting:setting}) %>
        </div>
    </div>
    <script>var config = {"bg_img":"","bg_img_night":""}</script>
    <script type='text/javascript' src="<%= setting.cdn %>js/popper.min.js"></script>
    <script type='text/javascript' src="<%= setting.cdn %>js/bootstrap.min.js"></script>
    <script type='text/javascript' src="<%= setting.cdn %>js/lazyload.min-12.4.0.js"></script>
    <script type='text/javascript' src="<%= setting.cdn %>js/app-mini.js" ></script>

    <% if (theme.lytoday.enable) { %>
    <script src="<%= theme.lytoday.url %>"></script>
    <% } %>
</body>